@page
@model ResturentManagementSystem.Pages.Admin.MenuItems.IndexModel

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Menu Item List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-page="Upsert" class="btn btn-primary">
                <i class="bi bi-pencil-square"></i>&nbsp; Create
            </a>
        </div>
    </div>
    <br /><br />

    <table id="DT_Load" class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Category</th>
                <th>Food Type</th>
                @* <th>Action</th> *@
            </tr>
        </thead>
@*         <tbody>
            @foreach (var obj in Model.MenuItems)
            {
                <tr>
                    <td width="50%">@obj.Name</td>
                    <td width="50%">@obj.Price</td>
                    <td width="50%">@obj.Category</td>
                    <td width="50%">@obj.FoodType</td>
                    <td>
                        <a asp-page="Edit" asp-route-id="@obj.Id" class="btn btn-primary mx-2">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                        <a asp-page="Delete" asp-route-id="@obj.Id" class="btn btn-danger mx-2">
                            <i class="bi bi-trash-fill"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
 *@    </table>
</div>

@section Scripts{
    <script src="~/js/menuItem.js"></script>
}